<a href="https://colab.research.google.com/github/GunavathiC/Data-visualization/blob/main/Control_Flow_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
#if
age = 20
if age <= 18:
    print("adult",age)

In [8]:
# elif
score=54
if score>90:
    print("grade A")
elif score>=80:
    print("grade B")

elif score>=70:
    print("grade c")
else:
    print("grade D")

grade D

In [14]:
#nested if
num=int(input("enter a number:"))
if num>=0:
    if num%2==0:
      print("even")
    else:
      print("odd")
else:
  print("negative")

enter a number:5
odd

In [21]:
# transfer statement
for i in range (1,6):
    if i == 3:
        pass
    print(i)

1
2
3
4
5

In [22]:
for i in range (1,10):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9

In [23]:
for i in range (1,25):
    if i == 15:
        break
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [26]:
max_num = float('-inf') # Initialize with negative infinity
min_num = float('inf')  # Initialize with positive infinity

for i in range(1, 21):
  if i > max_num:
    max_num = i
  if i < min_num:
    min_num = i

print("Maximum number:", max_num)
print("Minimum number:", min_num)

Maximum number: 20
Minimum number: 1

In [27]:
#while
count = 1
while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

In [28]:
 green_energy_data = [
    {"city": "Bangalore", "solar_units": 120, "wind_units": 80},
    {"city": "Mysore", "solar_units": 90, "wind_units": 40},
    {"city": "Chennai", "solar_units": 50, "wind_units": 20},
    {"city": "Hyderabad", "solar_units": 130, "wind_units": 95},
    {"city": "Coimbatore", "solar_units": 30, "wind_units": 15}
 ]

In [29]:
for city_data in green_energy_data:
    if city_data["solar_units"] > 100:
        print(f"{city_data['city']} has more than 100 solar units.")

Bangalore has more than 100 solar units.
Hyderabad has more than 100 solar units.

In [30]:
for city_data in green_energy_data:
    if city_data["solar_units"] > city_data["wind_units"]:
        print(f"{city_data['city']} has more solar units than wind units.")
    else:
        print(f"{city_data['city']} has less than or equal to solar units than wind units.")

Bangalore has more solar units than wind units.
Mysore has more solar units than wind units.
Chennai has more solar units than wind units.
Hyderabad has more solar units than wind units.
Coimbatore has more solar units than wind units.

In [31]:
for city_data in green_energy_data:
    if city_data["solar_units"] >= 100:
        print(f"{city_data['city']} has High solar usage.")
    elif city_data["solar_units"] >= 50:
        print(f"{city_data['city']} has Medium solar usage.")
    else:
        print(f"{city_data['city']} has Low solar usage.")

Bangalore has High solar usage.
Mysore has Medium solar usage.
Chennai has Medium solar usage.
Hyderabad has High solar usage.
Coimbatore has Low solar usage.

In [32]:
for city_data in green_energy_data:
    total_units = city_data["solar_units"] + city_data["wind_units"]
    if total_units >= 200:
        print(f"{city_data['city']} uses a total of {total_units} units (>=200).")
        if city_data["solar_units"] > city_data["wind_units"]:
            print(f"  It uses more solar energy ({city_data['solar_units']}) than wind energy ({city_data['wind_units']}).")
        else:
            print(f"  It uses less than or equal to solar energy ({city_data['solar_units']}) than wind energy ({city_data['wind_units']}).")
    else:
        print(f"{city_data['city']} uses a total of {total_units} units (<200).")

Bangalore uses a total of 200 units (>=200).
  It uses more solar energy (120) than wind energy (80).
Mysore uses a total of 130 units (<200).
Chennai uses a total of 70 units (<200).
Hyderabad uses a total of 225 units (>=200).
  It uses more solar energy (130) than wind energy (95).
Coimbatore uses a total of 45 units (<200).

In [33]:
for city_data in green_energy_data:
    if city_data["wind_units"] < 20:
        print(f"Stopping the loop: {city_data['city']} uses less than 20 wind units ({city_data['wind_units']}).")
        break
    print(f"{city_data['city']} uses {city_data['wind_units']} wind units.")

Bangalore uses 80 wind units.
Mysore uses 40 wind units.
Chennai uses 20 wind units.
Hyderabad uses 95 wind units.
Stopping the loop: Coimbatore uses less than 20 wind units (15).

In [34]:
for city_data in green_energy_data:
    if city_data["solar_units"] < 50:
        print(f"Skipping {city_data['city']} (uses less than 50 solar units: {city_data['solar_units']})")
        continue
    print(f"{city_data['city']} uses {city_data['solar_units']} solar units.")

Bangalore uses 120 solar units.
Mysore uses 90 solar units.
Chennai uses 50 solar units.
Hyderabad uses 130 solar units.
Skipping Coimbatore (uses less than 50 solar units: 30)

In [35]:
for city_data in green_energy_data:
    if city_data["solar_units"] < 50:
        # Placeholder for future code
        pass
    else:
        print(f"{city_data['city']} uses {city_data['solar_units']} solar units (50 or more).")

Bangalore uses 120 solar units (50 or more).
Mysore uses 90 solar units (50 or more).
Chennai uses 50 solar units (50 or more).
Hyderabad uses 130 solar units (50 or more).

In [36]:
for city_data in green_energy_data:
    print(f"{city_data['city']}: Solar Units - {city_data['solar_units']}, Wind Units - {city_data['wind_units']}")

Bangalore: Solar Units - 120, Wind Units - 80
Mysore: Solar Units - 90, Wind Units - 40
Chennai: Solar Units - 50, Wind Units - 20
Hyderabad: Solar Units - 130, Wind Units - 95
Coimbatore: Solar Units - 30, Wind Units - 15

In [37]:
index = 0
while index < len(green_energy_data):
    city_data = green_energy_data[index]
    total_energy = city_data["solar_units"] + city_data["wind_units"]
    print(f"{city_data['city']}: Total Green Energy - {total_energy}")
    index += 1

Bangalore: Total Green Energy - 200
Mysore: Total Green Energy - 130
Chennai: Total Green Energy - 70
Hyderabad: Total Green Energy - 225
Coimbatore: Total Green Energy - 45